/* #b65739 orange */

#4b5f77
#d35256

#349fa5
#3c4858



#b6593a
#2a2a2a
#424242
#626262


*, *::before, *:: after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

#header,
#footer {
    background-color: grey;
    font-size: 50px;
    text-align: center;
}

#content {
    /* border: 1px solid purple; */
    height: 800px;
    width: 650px;

    /* border-radius: 10px; */
}

#calculator {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    background-color: #2a2a2a;
    border-radius: 20px;
    box-shadow: 10px 10px 5px black;
}

/* top */
#calculatorResults {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 100px;
}

#screen {
    width: 73%;
    height: 70px;
    border: 1px solid #b6593a;
    font-size: 40px;
    padding: 10px 30px;

    border-radius: 8px;
    box-shadow: 8px 8px 1px lightgrey inset;

}

/* bottom */
#calculatorButtons {
    display: flex;
    align-items: flex-start;
}


#numbers {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 10px;
    flex: 3 1 auto;
}


#symbols{
    flex: 1 0 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.button {
    height: 125px;
    width: 125px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    /* style */
    border: 1px solid black;
    border-radius: 8px;
    background-color: #424242;
    color: white;
    box-shadow: 5px 5px 20px black;
}

.symbols {
    background-color: #b6593a;
    height: 81px;
    width: 81px;

}

.buttonTest {
    width:
}

.mouseEnter {
    border: 1px solid #349fa5;
}

.mousedown {
    border: 1px solid black;
    background-color: #349fa5;
    /* #2a2a2a; */
} 

.pressed {
    
}
